{
  "extends": ["important-stuff", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false
  }
}
